# if current_user.id > 0
  # if html_class == 'lesson'
    <li class="active">
      <a href="{{url_for('lesson', lesson_id=progress)}}"><i class="fa fa-leaf"></i> Training</a>
    </li>
    # if lesson_id > 0
      <li>
        <a href="{{url_for('lesson', lesson_id=lesson_id-1)}}"><i class="fa fa-arrow-left"></i> Prev</a>
      </li>
    # else
      <li class="disabled">
        <a href="#"><i class="fa fa-arrow-left"></i> Prev</a>
      </li>
    # endif
    <li class="active">
      <p class="navbar-text">Lesson {{lesson_id}}</p>
    </li>
    
    # if (lesson_id < 5) and (lesson_id < progress)
      <li>
        <a href="{{url_for('lesson', lesson_id=lesson_id+1)}}">Next <i class="fa fa-arrow-right"></i></a>
      </li>
    # else
      <li class="disabled">
        <a href="#">Next <i class="fa fa-arrow-right"></i></a>
      </li>
    # endif
  # else
    <li>
      <a href="{{url_for('lesson')}}"><i class="fa fa-leaf"></i> Start Your Training</a>
    </li>
  # endif
# else
  <li>
    <a href="{{url_for('lesson')}}"><i class="fa fa-leaf"></i> Start Your Training</a>
  </li>
# endif
