# if current_user.id > 0
  # if html_class == 'lesson'
    <li class="active">
      <a href="{{url_for('lesson', lesson_id=progress)}}"><i class="fa fa-leaf"></i> Training</a>
    </li>
    <li>
      # if lesson_id > 0
        <a href="{{url_for('lesson', lesson_id=lesson_id-1)}}"><i class="fa fa-arrow-left"></i> Prev</a>
      # else
        <p class="navbar-text"><i class="fa fa-arrow-left"></i> Prev</p>
      # endif
    </li>
    <li class="active">
      <p class="navbar-text">Lesson {{lesson_id}}</p>
    </li>
    <li>
      # if (lesson_id < 5) and (lesson_id < progress)
        <a href="{{url_for('lesson', lesson_id=lesson_id+1)}}">Next <i class="fa fa-arrow-right"></i></a>
      # else
        <p class="navbar-text">Next <i class="fa fa-arrow-right"></i></p>
      # endif
    </li>
  # else
    <li>
      <a href="{{url_for('lesson', lesson_id=0)}}"><i class="fa fa-leaf"></i> Start Your Training</a>
    </li>
  # endif
# else
  <li class="disabled">
    <a href="#"> Start Your Training</a>
  </li>
# endif
