<form role="form">
  <p>What is the main factor that affects short-term fluctuations in the price of assets?</p>
  <div class="radio">
    <label>
      <input type="radio" name="lesson_0_1" id="lesson_0_1_1" value="lesson_0_1_1">
      Location of the trade
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="lesson_0_1" id="lesson_0_1_2" value="lesson_0_1_2">
      Supply and demand
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="lesson_0_1" id="lesson_0_1_3" value="lesson_0_1_3">
      Current weather
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="lesson_0_1" id="lesson_0_1_4" value="lesson_0_1_4">
      The different exchanges
    </label>
  </div>
</form>
