# extends 'base.html'

# block head
  # include graph_head if html_class == 'lesson' ignore missing
#endblock

# block header
  <!--<div class="jumbotron">
    <div class="container">
      <h1>Lesson {{lesson_id}}</h1>
        <p>{{lesson.title if lesson.title else "Fundamentals"}}</p>
    </div>
  </div>-->
# endblock
# block content
  <ul class="nav nav-tabs">
  # for section in sections
    # if section.number == section_id
      <li class="active"><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">Section {{section.title if section.number == 9 else section.number}}</a></li>
    # else
      <li><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">Section {{section.title if section.number == 9 else section.number}}</a></li>
    # endif
  # endfor
  </ul>
  
  # for section in sections
    # if section.number == section_id
      <div class="page-header">
        <h4>{{section.title}}</h4>
      </div>
      # if section.number != 9
        <div class="col-md-6 col-lg-6">
          # for piece in pieces
            <dl class="dl-horizontal">
              <dt>{{piece.tag}}</dt>
              <dd>{{piece.content}}</dd>
            </dl>
          # endfor
        </div>
        <div class="col-md-6 col-lg-6">
          # include graph ignore missing
          <br /><br />
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{section.number}}" aria-valuemin="0" aria-valuemax="{{lesson.sections}}" style="width: {{section.number*100//lesson.sections}}%;">
              {{section.number*100//lesson.sections}}% Complete
            </div>
          </div>
          <ul class="pager">
            # if section.number != lesson.sections
              <li class="next"><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number+1)}}">Next Section &rarr;</a></li>
            # else
              <li class="next"><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=9)}}">Next Section &rarr;</a></li>
            # endif
          </ul>
        </div>
      # else
        <div class="col-md-6 col-lg-6">
          # include graph ignore missing
        </div>
      # endif
    # endif
  # endfor

# endblock
