# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{title}}</h1>
    </div>
  </div>
# endblock
# block content
  <ul class="nav nav-tabs">
  # for section in sections
    # if section.number == section_id
      <li class="active"><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">Section {{section.number}}</a></li>
    # else
      <li><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">Section {{section.number}}</a></li>
    # endif
  # endfor
  </ul>
  
  # for section in sections
    # if section.number == section_id
      <div class="page-header">
        <h4>{{section.title}}</h4>
      </div>
    # endif
  # endfor
  
  <div class="col-sm-12 col-md-6 col-lg-6">
    # for piece in pieces
      <dl class="dl-horizontal">
        <dt>{{piece.tag}}</dt>
        <dd>{{piece.content}}</dd>
      </dl>
    # endfor
  </div>
  

# endblock
