# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{title}}</h1>
    </div>
  </div>
# endblock
# block content
  <ul class="nav nav-tabs">
  # for section in sections
    # if section.number == section_id
      <li class="active"><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">{{section.title}}</a></li>
    # else
      <li><a href="{{url_for('lesson', lesson_id=lesson_id, section_id=section.number)}}">{{section.title}}</a></li>
    # endif
  # endfor
  </ul>
  
  # for section in sections
    # if section.number == section_id
      <div class="page-header">
        <h1>{{section.title}}</h1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p></p>
      </div>
    # endif
  # endfor

# endblock
