# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    # for section in sections
      <table><tr>
      <td><h3>{{section.title}}</h3></td>
      <td style="padding:10px"><form method="post" action="{{url_for('section_delete', section_id=section.key.id())}}">
        <button class="btn btn-default">Delete</button>
      </form></td>
      <td style="padding:10px"><form method="post" action="{{url_for('section_update', section_id=section.key.id())}}">
        <button class="btn btn-default">Edit</button>
      </form></td></tr></table>
      <p>{{section.content}}</p>
      <p>Lesson: {{section.lesson}}</p>
      <p>Number: {{section.number}}</p>
      <br />
    # endfor
  </div>
# endblock
