# extends 'base.html'
# import 'macro/forms.html' as forms

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>The elite platform for online, interactive options and derivatives training.</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Program</h2>
      <p>Welcome to Options Training Ground (OTG). We run an intensive options trading education program, which includes option theory, interactive learning, and market simulations. Our program is accessible to people from all tracks of life, and especially relevant to those who are seeking to land a role in options trading.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Network</h2>
      <p>OTG's member network has graduates and affiliates across the globe. We have placed graduates in many areas of finance- top placements include proprietary trading firms Optiver and Akuna Capital. By entering the Program, you will be joining an elite member network spanning worldwide capital markets.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Contact</h2>
      <p>We believe in live, exclusive support.<br />Email us at tonyyyin [at] gmail for any questions.<br /><br />We are headquartered in Chicago, IL.</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h4><strong>Start Your Training</strong> above - Lesson 0 is free for everyone.</h4>
      <hr>
      <form class="form-inline" role="form" method="POST" action"." novalidate>
        <h4>Enter your email to begin registration for additional Lessons: 
        
        {{form.csrf_token}}
        {{forms.email_field(form.email, autofocus=True)}}
        
        <button type="submit" class="btn btn-default">
          Submit
        </button>
        </h4>
      </form>
    </div>
  </div>
# endblock
